html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.6rem;
}

:root {
    --baseColor: rgba(238, 238, 238, 1);
    --baseColor_bg: #5a3501;
    --baseColor_border: rgb(126, 78, 78);
    --btnColor_yellow_top: rgb(256, 241, 0);
    --btnColor_yellow_shadow: rgb(256, 241, 0);
    --form_bg: #C75000;
}

body {
    color: var(--baseColor);
    font-family: "ＭＳ 明朝", sans-serif;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background: var(--baseColor_bg);
}

.text-form {
    margin-left: 5vw;
    padding: 1vh 2vw;
    width: 70vw;
    background-color: var(--form_bg);
}

#loginTextForm input {
    background-color: var(--form_bg);
    border: none;
    border-bottom: solid 2px #999;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hoge {
    display: block;
}

.fadeout {
    /* display: none; */
    animation: fadeout 1s linear 0s;
}

rt {
    text-align: left;
}

.page-title {
    font-size: 1.4rem;
    color: white;
    text-shadow: 1px 2px 3px #808080;
    padding: 0 0 0 2vw;
}

table {
    padding: 0;
    margin: 0;
}

.console {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    width: 80vw;
    height: 80vh;
    background-color: black;
    color: white;
    font-size: 0.4rem;
}

.ps {
    width: 30vw;
}

/** ↓↓cutom button style↓↓ */

/* @import "https://use.fontawesome.com/releases/v5.13.0/css/all.css"; */

@import "./fontawesome_all.css";
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.btn {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 3rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

/** 立体ボタン */

.solid-btn {
    margin-bottom: 1rem;
    padding: 0;
    border-radius: 0.75rem;
    width: 25vw;
    max-width: 13rem;
}

.solid-btn:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* max-width : 100px;
    min-width : 33vw; */
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate3d(0, 0.75rem, -1rem);
    transform: translate3d(0, 0.75rem, -1rem);
    border: 2px solid #000;
    border-radius: inherit;
    background: #ccc100;
    -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

/** ボタン先頭の□表示 */

.solid-btn:after {
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    top: calc(50% - 0.75rem);
    /* top: calc(50% - 1rem); */
    left: 1rem;
    margin: 0;
    padding: 0;
    content: "\f0e0";
}

.solid-btn-front {
    position: relative;
    display: block;
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #000;
    border-radius: inherit;
    background: var(--btnColor_yellow_top);
    /* background: #fff100; */
}

/** fontawesomeについて */

.fa-position-left {
    position: absolute;
    top: calc(50% - 0.5em);
    left: 1rem;
}

.fa-position-right {
    position: absolute;
    top: calc(50% - 0.5em);
    right: 1rem;
}

.solid-btn:hover {
    -webkit-transform: translate(0, 0.25rem);
    transform: translate(0, 0.25rem);
    background: var(--btnColor_yellow_top);
    /* background: #fff100; */
}

.solid-btn:hover:before {
    -webkit-transform: translate3d(0, 0.5rem, -1rem);
    transform: translate3d(0, 0.5rem, -1rem);
    -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

.solid-btn:hover:after {
    content: "\f2b6";
}

.solid-btn:active {
    -webkit-transform: translate(0rem, 0.75rem);
    transform: translate(0rem, 0.75rem);
}

.solid-btn:active:before {
    -webkit-transform: translate3d(0, 0, -1rem);
    transform: translate3d(0, 0, -1rem);
    -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

.solid-btn:active:after {
    content: "\f2b6";
}

/** ↑↑cutom button style↑↑ */