<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>broTerm</title>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/Normalize.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">

</head>

<body>
    <canvas id="bg-canvas"></canvas>
    <h3 class="page-title">Web Console</h3>
    <div id="login-forms">
        <div class="text-form">
            <form id="loginTextForm">
                <label class="text-label" for="inputText1">ログイン先[入力方式]</label><br />
                <ruby>
                    <rb><input class="loginTextForm" size="15" max-length="15" type="text" name="ip" id="ip"></rb>
                    <rt>IPアドレス</rt>
                </ruby>
                <ruby>
                    <rb><input class="textform-port" size="5" max-length="5" type="text" name="port" id="port"
                            value="22"></rb>
                    <rt>ポート番号</rt>
                </ruby>
                <ruby>
                    <rb><input class="textform-hostName" size="12" max-length="32" type="text" name="hostName"
                            id="hostName">
                    </rb>
                    <rt>ホスト名</rt>
                </ruby>
                <ruby>
                    <rb><input class="textform-passwd" size="12" max-length="32" type="password" name="passwd"
                            id="passwd">
                    </rb>
                    <rt>パスワード</rt>
                </ruby>
                <button type="button" id="loginTextFormButton" class="btn btn-default">ログイン</button>
            </form>
        </div>
        <form id="loginFromSelectForm">
            <div id="server-btn-area" class="form-group">
                <label class="select-label" for="inputSelect1">ログイン先[選択方式]</label>
                <!-- here is added by menu.js -->
            </div>
            <button type="button" class="btn btn-default">ログイン</button>
        </form>
    </div>
    <br>
    <h3>コマンド結果</h3>
    <div id="console-area"></div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{/js/menu.js}"></script>
<script type="text/javascript" th:src="@{/js/bg_canvas.js}"></script>

</html>